language: generic
dist: xenial
services:
  - xvfb

addons:
  apt:
    packages:
    # Qt dependencies
    - libxkbcommon-x11-0
    - libxcb-icccm4
    - libxcb-image0
    - libxcb-keysyms1
    - libxcb-randr0
    - libxcb-render-util0
    - libxcb-xinerama0
    - pulseaudio
    - libpulse-mainloop-glib0
    # Wx dependencies
    - libsdl2-2.0-0

env:
  global:
    - INSTALL_EDM_VERSION=3.2.3
      PYTHONUNBUFFERED="1"

matrix:
  include:
    - env: RUNTIME=3.6 TOOLKITS="pyqt pyqt5 pyside2 wx"
  fast_finish: true

cache:
  directories:
    - "~/.cache"

before_install:
  - mkdir -p "${HOME}/.cache/download"
  - if [[ ${TRAVIS_OS_NAME} == 'linux' ]]; then ./install-edm-linux.sh; export PATH="${HOME}/edm/bin:${PATH}"; fi
  - edm install -y wheel click coverage
install:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py install --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done
  - if [[ ${TRAVIS_EVENT_TYPE} == 'cron' ]]; then for toolkit in ${TOOLKITS}; do edm run -- python etstool.py install --runtime=${RUNTIME} --toolkit=${toolkit} --source || exit; done; fi
script:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py test --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done

notifications:
  slack:
    secure: UmVaFtT5FQD5Pb5fQPxbQwLTPsvCJOY2Cr0xQVOAbkcl2pYeit7vf7d6f4ligGpve9QdgQjWRffQa7z0V+7O0xoWUaozZHuFZNsttWAldh0gBEBeFHHUvCiKrzV6AWetDE8LxWZsPV9oG/ZX7oVz8nNeYfH3lLhgqdPCL54L3SE=
    on_success: change
    on_failure: always
