language: generic
dist: xenial
services:
  - xvfb

env:
  global:
    - INSTALL_EDM_VERSION=2.4.1
      PYTHONUNBUFFERED="1"

matrix:
  include:
    - env: RUNTIME=3.6 TOOLKITS="pyqt pyside2 wx"
    - os: osx
      env: RUNTIME=3.6 TOOLKITS="pyqt pyside2 wx"
  fast_finish: true

cache:
  directories:
    - "~/.cache"

before_install:
  - mkdir -p "${HOME}/.cache/download"
  - if [[ ${TRAVIS_OS_NAME} == 'linux' ]]; then ./install-edm-linux.sh; export PATH="${HOME}/edm/bin:${PATH}"; fi
  # libdbus, libxkb and pulseaudio for Pyside2, libsdl for wxpython
  - if [[ ${TRAVIS_OS_NAME} == 'linux' ]]; then sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0 libsdl1.2debian pulseaudio libpulse-mainloop-glib0; fi
  - if [[ ${TRAVIS_OS_NAME} == 'osx' ]]; then ./install-edm-osx.sh; export PATH="${PATH}:/usr/local/bin"; fi
  - edm install -y wheel click coverage
install:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py install --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done
script:
  - for toolkit in ${TOOLKITS}; do edm run -- python etstool.py test --runtime=${RUNTIME} --toolkit=${toolkit} || exit; done

after_success:
  - edm run -- coverage combine
  - edm run -- pip install codecov
  - edm run -- codecov

notifications:
  slack:
    secure: UmVaFtT5FQD5Pb5fQPxbQwLTPsvCJOY2Cr0xQVOAbkcl2pYeit7vf7d6f4ligGpve9QdgQjWRffQa7z0V+7O0xoWUaozZHuFZNsttWAldh0gBEBeFHHUvCiKrzV6AWetDE8LxWZsPV9oG/ZX7oVz8nNeYfH3lLhgqdPCL54L3SE=
    on_success: change
    on_failure: always
