include MANIFEST.in
include .flake8
include .coveragerc
include *.rst
include *.txt
include *.cfg
include *.toml
include etstool.py
recursive-include pyface *.py *.png *.jpg *.gif *.svg *.zip *.txt
graft docs
prune docs/build
recursive-exclude docs *.pyc
graft examples
recursive-exclude examples *.pyc
