include image_LICENSE.txt
include image_LICENSE_Eclipse.txt
include image_LICENSE_Nuvola.txt
include image_LICENSE_OOo.txt
include LICENSE-CC-BY-3.0.txt
include LICENSE.txt
include README.rst
include MANIFEST.in
recursive-include pyface *.py *.png *.jpg *.gif *.svg *.zip *.txt
graft docs
prune docs/build
recursive-exclude docs *.pyc
graft examples
recursive-exclude examples *.pyc
