# This workflow targets stable released dependencies from EDM.
# Note that some packages may not actually be installed from EDM but from
# PyPI, see etstool.py implementations.

name: Test with EDM

on: pull_request

env:
  INSTALL_EDM_VERSION: 4.1.1
  QT_MAC_WANTS_LAYER: 1

jobs:

  # Test against EDM packages
  test-with-edm:
    strategy:
      matrix:
        # Note: MacOS support is contingent on not hitting any issues with
        # unsupported CPU features such as AVX2 and so may be unstable.
        os: [ubuntu-latest, macos-latest, windows-latest]
        toolkit: ['pyside6']
        runtime: ['3.8', '3.11']
        exclude:
          - os: 'macos-latest'
            runtime: '3.8'
      fail-fast: false
    timeout-minutes: 20  # should be plenty, it's usually < 5
    runs-on: ${{ matrix.os }}
    env:
      # Set root directory, mainly for Windows, so that the EDM Python
      # environment lives in the same drive as the cloned source. Otherwise
      # 'pip install' raises an error while trying to compute
      # relative path between the site-packages and the source directory.
      EDM_ROOT_DIRECTORY: ${{ github.workspace }}/.edm
    steps:
      - uses: actions/checkout@v3
      - name: Install Qt dependencies
        uses: ./.github/actions/install-qt-support
        if: matrix.toolkit != 'wx'
      - name: Cache EDM packages
        uses: actions/cache@v3
        with:
          path: ~/.cache
          key: ${{ runner.os }}-${{ matrix.toolkit }}-${{ hashFiles('etstool.py') }}
      - name: Setup EDM
        uses: enthought/setup-edm-action@v4.1
        with:
          edm-version: ${{ env.INSTALL_EDM_VERSION }}
      - name: Install click to the default EDM environment
        run: edm install -y wheel click coverage
      - name: Install test environment
        run: edm run -- python etstool.py install --toolkit=${{ matrix.toolkit }} --runtime=${{ matrix.runtime }}
      - name: Run tests (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: xvfb-run -a edm run -- python etstool.py test --toolkit=${{ matrix.toolkit }}
      - name: Run tests (not Linux)
        if: matrix.os != 'ubuntu-latest'
        run: edm run -- python etstool.py test --toolkit=${{ matrix.toolkit }}
